<div class="customization">
    <div class="quote">
        <div class="container">
            <div class="row rental-row">
                <div class="col-lg-6">
                    <div class="custom-content">
                        <span class="marker-color">{{ content.field_heading }}</span>
                        <h2 class="global_title">{{ content.field_title }}</h2>
                        {{ content.field_description }}
                        <div class="btn-m">
                            {{ content.field_link }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <figure class="customization-image">
                        {{ content.field_image }}
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
