<section class="hero_sec">
  <div class="grid">
    <div class="column">
      <div class="container">
        <div class="details">
          <h2>{{ content.field_title}}</h2>
          <figure>{{ content.field_image }}
            <video class="background-video" autoplay="" loop="" muted="" playsinline=""
              src="{{ file_url(content.field_video[0]['#media'].field_media_video_file.entity.uri.value) }}"
              type="video/mp4"></video>
          </figure>
          <h3>{{ content.field_sub_title }}</h3>
          {{ content.field_description }}
          <a href="{{ content.field_link[0]['#url'] }}" class="more_link">{{ content.field_arrow }}</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="container">
        <div class="details">
          <h2>{{ content.field_title1 }}</h2>
          <figure>{{ content.field_image1 }}
            <video class="background-video" autoplay="" loop="" muted="" playsinline=""
              src="{{ file_url(content.field_video1[0]['#media'].field_media_video_file.entity.uri.value) }}"
              type="video/mp4"></video>
          </figure>
          <h3>{{ content.field_sub_title1 }}</h3>
          {{ content.field_description1 }}
          <a href="{{ content.field_link1[0]['#url'] }}" class="more_link">{{ content.field_arrow1 }}</a>
        </div>
      </div>
    </div>
  </div>
</section>